body {
  background: rgb(136, 203, 171);
  background: linear-gradient(
    0deg,
    rgba(136, 203, 171, 1) 0%,
    rgba(0, 13, 60, 1) 100%
  );
  margin: 0;
  font-family: "Merriweather", serif;
  color: #fff;
}
* {
  box-sizing: border-box;
}

@media (max-width: 760px) {
  .container {
    width: 85%;
  }
}

/* Typeography General*/

h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
  .main__title {
    font-size: 4em;
    margin: 2em 4rem 1em;
  }
}

.landing__title {
  padding-bottom: 2rem;
  border-bottom: 1px solid #cc1;
  font-family: "Oxygen", Sans-Serif;
  font-size: 3em;
  color: #fff;
}

/* ---- Layout Rules ---- */

.main__hero {
  min-height: 50vh;
  width: 120%;
  padding-top: 3em;
  background: url(../background.jpg) center/cover no-repeat;
}

section {
  position: relative;
  min-height: 80vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/

#navbar__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin-right: 2rem;
}

.navbar__item {
  padding: 0.5rem;
  width: 5rem;
  margin-right: 0.6rem;
  font-size: 0.8rem;
  background: #ccc;
  color: #f76;
  border-radius: 0.3rem;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
}

.navbar__item:hover {
  background: #fff;
  cursor: pointer;
  transform: scale(1.05) translateY(-2px);
  transition: all 0.5s;
}

/* Header Styles */

.page__header {
  background: #f75;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* Footer Styles */

.page__footer {
  background: #ccc;
  padding: 2.5rem;
  color: #f75;
  text-align: center;
  width: 100vw;
}

/* ---- Theme Rules ---- */

/* Landing Container Styles */

.landing__container {
  padding: 1rem;
  text-align: left;
  line-height: 1.6em;
  color: #eee;
}

@media only screen and (min-width: 35em) {
  .landing__container {
    max-width: 50em;
    padding: 4em;
  }
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

/* Background Circles */

/* Note that background circles are created with psuedo elements before and after */

/* Circles appear to be random do to use of :nth-of-type psuedo class */

section:nth-of-type(odd) .landing__container::before {
  content: "";
  background: rgba(255, 255, 255, 0.187);
  position: absolute;
  z-index: -5;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  top: 3em;
  right: 3em;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 20vw;
  bottom: -5em;
  z-index: -5;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */

/* Section Active Styles */

/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */

.active-class {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.active-class .landing__container::before {
  opacity: 1;
  animation: rotate 4s linear 0s infinite forwards;
}

.active-class .landing__container::after {
  opacity: 1;
  animation: rotate 5s linear 0s infinite forwards reverse;
}

/*Adding style to active section*/

/* Section Active Styles Keyframe Animations */

@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-1em) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}

#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #fff;
  color: #f75;
  font-weight: bolder;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transform: rotate(270deg);
}

#myBtn:hover {
  background-color: #f75;
  color: #fff;
  transform: scale(1.05) rotate(270deg);
  transition: all 0.6s;
}
